# Python virtual environment
env/
venv/
*.pyc
__pycache__/

# SQLite database
*.sqlite3
db.sqlite3

# Environment variables & secrets
.env

# IDE & Editor files
.vscode/
.idea/

# Static and media files generated at runtime
staticfiles/
media/